.hero {
  background-color: var(--bg-hero-color);
  overflow: hidden;
}
.hero .container{
  display: flex;
  justify-content: center;
}
.hero-text-wrap h1 {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 40px;
  line-height: 1.19;
  letter-spacing: 0.05em;
  color: var(--first-text-color);
  margin-bottom: 28px;
}
.hero-text-wrap span {
  display: block;
}
.hero-text-wrap p {
  font-size: 15px;
  line-height: 153%;
  letter-spacing: 0.03em;
  color: #002d24;
  margin-bottom: 26px;
  max-width: 600px;
}
.hero-text-wrap button {
  color: var(--second-text-color);
  background-color: var(--second-bg-btn);
  font-size: 12px;
  letter-spacing: 0.04em;
  transition: background-color var(--transition), color var(--transition);
}

.hero-text-wrap button:hover {
  color: var(--first-text-hover);
  background-color: var(--second-btn-hover);
  font-size: 12px;
  letter-spacing: 0.04em;
}
.circle {
  display: none;
}

.person {
  display: none;
}
@media screen and (min-width: 768px) {
  .hero{
    padding: 60px 0 60px 0;
  }
  .hero-text-wrap p {
    max-width: 600px;
  }
}

@media screen and (min-width: 1200px ) {
  .hero-text-wrap {
    max-width: 460px;
  }
  .hero {
    padding: 200px 0 200px 0;
  }
  .hero .container{
  display: flex;
  justify-content: flex-start;
}
  .circle{
  position: absolute;
  display: block;
  top: -190px;
  right: -84px;
  width: 716px;
  height: 716px;
}
.person{
  position: absolute;
  display: block;
  top: -90px;
  right: 16px;
  width: 516px;
  height: 516px;
}
}


