.solutions {
  display: flex;
  flex-direction: column;
  align-items: center;

  padding: 132px 0 10px 0;
}
.solutions__title {
  font-weight: 400;
  font-size: 27px;
  line-height: 1.27;
  letter-spacing: 0.03em;
  text-align: center;
  color: var(--first-text-color);
  margin-bottom: 54px;
}
.solutions__slider {
  border-radius: 19px;
  width: 1100px;
  height: 481px;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.08);
  margin-bottom: 72px;
  padding: 35px 40px 35px 40px;
}
.solutions button {
  background-color: var(--first-bg-btn);
  color: var(--first-text-color);
  font-size: 12px;
  line-height: 1.11;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  text-align: center;
  transition: color 250ms linear, background-color 250ms linear;
}
.solutions button:hover,
.solutions button:focus {
  color: var(--accent-text-color);
  background-color: var(--first-btn-hover);
}

/* slider */

.swiper {
  width: 932px;
  height: 408px;
}

.swiper .swiper-pagination-bullet {
  display: inline;
  padding-bottom: 4px;
  width: auto;
  border-radius: 0;
  background: transparent;
  opacity: unset;
  transition: border-bottom 50ms linear, color 250ms linear;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 13px;
  line-height: 103%;
  text-transform: uppercase;
  color: rgba(0, 45, 36, 0.5);
}
.swiper .swiper-pagination-bullet:not(:last-child) {
  margin-right: 32px !important;
}
.swiper .swiper-pagination-bullet-active {
  border-bottom: 2px solid var(--accent-text-color);
  color: var(--first-text-color);
}
.swiper .swiper-pagination {
  top: 0 !important;
  bottom: auto !important;
}
.swiper .swiper-wrapper {
  width: 932px;
  height: 352px;
  margin: 56px auto 0 auto;
}
.swiper .swiper-slide {
  display: flex;
  justify-content: space-between;
}
.wrap__title {
  max-width: 440px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.wrap__title h3 {
  font-weight: 400;
  font-size: 31px;
  line-height: 1.11;
  letter-spacing: 0.03em;
  color: var(--first-text-color);
}
.wrap__title p {
  font-weight: 400;
  font-size: 15px;
  line-height: 1.53;
  letter-spacing: 0.03em;
  color: var(--first-text-color);
}
.swiper .swiper-slide img {
  width: 400px;
  height: auto;
}



@media screen and (max-width: 359px ) {
.solutions__slider {
  width: 100%;
  height: auto;
}

.swiper {
  width: 100%;
  height: auto;
}


.swiper .swiper-wrapper {
  width: 100%;
  height: auto;

}
}